:root {
  --primary: #201335;
  --black: #000000;
  --white: #ffffff;
  --success: green;
  --error: red;
}

/* width */
::-webkit-scrollbar {
  width: 4px;
}

/* Track */
::-webkit-scrollbar-track {
  background: #f1f1f1;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: #000000;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: #000000;
}
body {
  background-color: #f7f7ff;
}

/* navbar css */
.navbar {
  background: var(--primary) !important;
  box-shadow: 0px 0px 3px #000;
}
.navbar-brand {
  vertical-align: middle;
  color: white !important;
}
.navbar-brand img {
  background-color: white;
  border-radius: 50%;
}

.rotate-anticlock-icon {
  transform: rotate(-180deg);
  transition: 0.5s ease-in;
}
.navbar-toggler:focus,
:active {
  outline: none !important;
}
.rotate-clock-icon {
  transform: rotate(0deg);
  transition: 0.5s ease-in;
}
.nav-link {
  /* color: black !important; */
  cursor: pointer !important;
  color: white !important;
}
.nav-item:hover {
  background-color: #d5dfe5;
  color: black !important;
  transition: 0.2s ease-in;
  border-radius: 10px;
}

.active {
  background-color: #d5dfe5;
  color: black !important;
  transition: 0.2s ease-in;
  border-radius: 10px;
}

.nav-item:hover .nav-link {
  color: black !important;
}

.overlay {
  display: none;
  position: fixed;
  width: 100vw;
  height: 100vh;
  background: rgba(0, 0, 0, 0.7);
  z-index: 99;
  opacity: 1;
  transition: all 0.5s ease-in-out;
}
.sidebar-active-overlay {
  display: block;
  opacity: 1;
}
.left-menu {
  display: block;
  width: 250px;
  position: fixed;
  z-index: 100;
  height: 100vh;
  left: -250px;

  transition: all 0.3s;
  overflow-y: scroll;
  box-shadow: 3px 3px 3px rgba(0, 0, 0, 0.2);
}
.sidebar-active {
  left: 0;
}
.side-links {
  text-align: center;
  vertical-align: middle;
  padding: 6px 0px;
  cursor: pointer;
}
.side-links:hover {
  background-color: #fdf1e5;
  color: #493075;
}
.side-link-active {
  background-color: #fdf1e5;
  color: #493075;
}

@media only screen and (max-width: 998px) {
  .first-link {
    margin-top: 17px;
  }
}
/* blog suspense css */

.blog-suspense-c {
  background-color: #ffff;
}

.suspense-body {
  background-color: #f6f6f6;
  color: #f6f6f6;
  height: 120px;
  position: relative;
}

.top-suspense-box {
  height: 183px;
  background: #f6f6f6;
  position: relative;
}

.top-suspense-text {
  background: #f6f6f6;
  height: 17px;
  width: 90%;
  margin-top: 6px;
  position: relative;
}

.blog-suspense-box {
  width: 100%;
  background: #f6f6f6;
  height: 130px;
  position: relative;
}
.blog-suspense-text-1 {
  width: 50%;
  background: #f6f6f6;
  height: 18px;
  margin-top: 10px;
  position: relative;
}
.blog-suspense-text-2 {
  width: 80%;
  background: #f6f6f6;
  height: 18px;
  margin-top: 10px;
  position: relative;
}
.blog-suspense-text-3 {
  width: 60%;
  background: #f6f6f6;
  height: 18px;
  margin-top: 10px;
  position: relative;
}

.loading {
  position: relative;
  overflow: hidden;
}

.loading::after {
  display: block;
  content: "";
  position: absolute;
  width: 100%;
  height: 100%;
  transform: translateX(-100%);
  background: linear-gradient(
    -90deg,
    transparent,
    rgba(187, 187, 187, 0.2),
    transparent
  );
  animation: loading 1s infinite;
}

@keyframes loading {
  100% {
    transform: translateX(100%);
  }
}
.loading-text {
  position: relative;
  overflow: hidden;
}

.loading-text::after {
  display: block;
  content: "";
  position: absolute;
  width: 100%;
  height: 100%;
  transform: translateX(-100%);
  background: linear-gradient(
    -90deg,
    transparent,
    rgba(187, 187, 187, 0.2),
    transparent
  );
  animation: loading 1.5s infinite;
}

@keyframes loading {
  100% {
    transform: translateX(100%);
  }
}

/* login css */

.login-c {
  margin-top: 10%;
}

.btn-c {
  border: none;
  outline: none;
  border-radius: 0px;
  padding: 0.475rem 1.4rem;
}
.btn-c:active {
  border: none;
  outline: none !important;
}
.btn-c:focus {
  box-shadow: none;
}

.form-control:focus {
}
.form-control:active {
}

.input-success {
  border: 1.3px solid var(--success);
}
.input-false {
  border: 1.3px solid var(--error);
}

textarea:focus,
textarea.form-control:focus,
input.form-control:focus,
input[type="text"]:focus,
input[type="password"]:focus,
input[type="email"]:focus,
input[type="number"]:focus,
[type="text"].form-control:focus,
[type="password"].form-control:focus,
[type="email"].form-control:focus,
[type="tel"].form-control:focus,
[contenteditable].form-control:focus {
  box-shadow: none;
}

.error-text {
  color: var(--error);
}

.login-btn {
  width: 100%;
}
.signup-btn {
  width: 100%;
}

.or-c {
  border-top: 1px solid #c6c6c6;
  width: 70%;
  margin-left: 15%;
  position: relative;
  text-align: center;
  margin-top: 30px;
}
.or-c p {
  font-size: 15px;
  position: absolute;
  padding: 0px 10px;
  background-color: white;
  top: -14px;
  left: 50%;
  transform: translateX(-49%);
}

/* blogs css */

.search-c {
  border: 1px solid #c6c6c6;
  background-color: white;
  display: inline-block;
  border-radius: 50px;
  width: 40%;
}

.search-c input {
  height: 100%;
  padding: 5px 14px;
  border-radius: 50px;
  width: 80%;
  border: none;
  outline: none;
}
.search-c button {
  border-radius: 50px;
  border: none;
  width: 20%;
  background-color: var(--black);
  color: var(--white);
  outline: none;
}
.search-c button i {
  padding: 13px;
}

@media only screen and (max-width: 891px) {
  .search-c {
    width: 80%;
  }
  .search-c input {
    width: 80%;
  }
  .search-c button {
    width: 20%;
  }
}
@media only screen and (max-width: 600px) {
  .search-c {
    width: 80%;
  }
  .search-c input {
    width: 80%;
  }
  .search-c button {
    width: 20%;
  }
}
@media only screen and (max-width: 350px) {
  .search-c {
    width: 100%;
  }
  .search-c input {
    width: 80%;
  }
  .search-c button {
    width: 20%;
  }
}
@media only screen and (max-width: 276px) {
  .search-c {
    width: 100%;
    background-color: transparent;
    border: none;
  }
  .search-c input {
    width: 100%;
  }
  .search-c button {
    margin-top: 10px;
    width: 40%;
  }
  .search-c button i {
    padding: 5px;
  }
}

/* top part */
.top-part-content {
  background-color: var(--white);
}

/* blog section */

.blog-c {
  display: flex;
}
.blog-img-c {
  width: 30%;
}
.blog-img-c img {
  height: 200px;
  width: 200px;
}
.blog-content-c {
  width: 70%;
}
.right-blog {
  max-height: 50vh;
  overflow-y: scroll;
  text-align: center;
}

/* channel css */

.channel-body {
  min-height: 100vh;
  margin: 0;
  padding: 0;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
  display: flex;
}
.channel-container-c {
  width: 80%;
  height: auto;
  display: grid;
  margin: 0 auto;
  grid-template-columns: repeat(auto-fit, minmax(280px, 1fr));
  padding: 10px;
  gap: 10px;
  box-sizing: border-box;
}

.channel-container-box {
  position: relative;
  padding: 20px 40px;
  text-align: center;
  overflow: hidden;
  padding: 10px;
}
.channel-container-box-suspense {
  height: 200px;
}

.channel-container-box-content {
  width: 100%;
  padding: 0px;
}

/* footer css */
.page-footer {
  background: #201335;
}

/* player css */

.video-player-c {
  width: 100%;
  height: 60vh;

  border-radius: 10px;
}

.category-video-list-c {
  width: 90%;
  margin-left: 5%;
}
.category-video {
  margin-bottom: 20px;
}
.left-menu-icon {
  cursor: pointer;
}

.selected-video-detail-c {
  width: 100%;
  border-top: 1px solid #c6c6c6;
  height: 100px;
  overflow: hidden;
  margin-top: 25px;
}
/* .toggle {
  display: none;
} */

.expand-c {
  padding: 10px 10px;
  cursor: pointer;
  text-align: center;
  overflow: hidden;
  display: none;
}
.expand-text {
  font-size: 1.3em !important;
}

@media only screen and (max-width: 750px) {
  .category-video-list-c {
    margin-top: 40px;
    width: 100%;
    margin-left: 0%;
  }
  /* .toggle {
    display: block;
  } */
  .selected-video-detail-c {
    overflow: hidden;
    margin-top: 0;
    height: 0px;
  }
  .expand-c {
    display: block;
  }
  .expand-show {
    border-top: 1px solid #c6c6c6;
  }
  .expand-hide {
    border-bottom: 1px solid #c6c6c6;
  }
}

.expand-show {
  animation: 1s showAnim linear;

  word-wrap: break-word;
  overflow: hidden;
  height: 100px;
}
.expand-hide {
  animation: 1s hideAnim linear;

  word-wrap: break-word;
  overflow: hidden;
  height: 0px;
}

@keyframes showAnim {
  0% {
    height: 0px;
  }
  100% {
    height: 100px;
  }
}
@keyframes hideAnim {
  0% {
    height: 100px;
  }
  100% {
    height: 0px;
  }
}

/* normal loader */

.lds-dual-ring {
  display: inline-block;
  width: 80px;
  height: 80px;
}
.lds-dual-ring:after {
  content: " ";
  display: block;
  width: 64px;
  height: 64px;
  margin: 8px;
  border-radius: 50%;
  border: 6px solid rgb(16, 15, 73);
  border-color: rgb(11, 10, 87) transparent rgb(19, 46, 121) transparent;
  animation: lds-dual-ring 1.2s linear infinite;
}
@keyframes lds-dual-ring {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

/* signout modal css */
.signout-modal-overlay {
  background-color: rgba(0, 0, 0, 0.9);
}
.signout-modal-content {
  margin-top: 18%;
  border-radius: 0px;
}

.signout-modal-footer {
  border: 0px;
}

.modal-signout-btn {
  background-color: var(--primary);
}
.modal-signout-btn:hover {
  background-color: #3a2261;
}
